*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

header{
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: 1;
    background-color: #3b454dd6;
}



.navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px 50px;
    background-color:#29303470;
    width: 100vw;
    height: 7rem;
}

.logo {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff ;
    margin-left: 10rem;
}

.logo span {
    color: #4BCAFF;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 30px;
    text-decoration: none;
    margin-right: 5rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: color 0.3s;
    position: relative;
    font-weight: bolder;

}

.nav-links a:hover {
    color: #4BCAFF;

}

.nav-links a.active {
    color: #4BCAFF;
    text-decoration: none;
    border: 2px solid #4BCAFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    bottom: 5px;
}

.quote-section {
    display: grid;
    place-items: center;
    height: 100vh;
    background: url('../images/Fondo.png') no-repeat center center/cover;
}

.quote {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 20px 40px;
    line-height: 1.8;
}

.quote > p{
    background-color: #49545B;
    margin-top: 15px;
}

.quote > .paragraph1-S1{
    width: 40rem;
    margin-left: 8rem;
}
.quote > .paragraph2-S1{
    width: 55rem;
}

.features-section {
    width: 100%;
    height: 50vh;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #00b7ff;
    color: #2b3e50;
}

.feature {
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: left ;
    gap: 10px;
    margin-top: 5rem;
    margin-left: 1rem;
}
.img-coffee{
    width: 40px;
    height: 50px;
}
.feature .img {
    width: 50px;
    height: 50px;
}

.feature h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
    
}

.feature p {
    font-size: 0.9rem;
    color: #fff;
    text-align: left;
    width: 22rem;
    font-weight: bolder;
}



.portfolio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 95vh;
}

.portfolio-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
}

.title {
    display: grid;
    grid-template-rows: auto 5px;
    align-items: start;
}

.title h1 {
    font-size: 24px;
    margin: 0;
    color: #5a5a5a;
    letter-spacing: 1px;
    font-weight: lighter;
}

.title .underline {
    background-color: #5a5a5a;
    width: 50px;
    height: 2px;
}

.nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 20px;
}

.nav button {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    color: #5a5a5a;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav button.active {
    color: #00bfff;
    border: 1px solid #00bfff;
    border-radius: 5px;
}

.nav button:hover {
    color: #00bfff;
    border-color: #00bfff;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 4rem;
}

.gallery-item {
    background-color: #ddd;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.default-section {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    padding: 40px;
    background-color: #515F67;
}

.content {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 20px;
    margin-left: 10rem;
    color: #fff;
}

.content h2 {
    font-size: 28px;
    margin: 0;
}

.content .underline2 {
    width: 60px;
    height: 2px;
    background-color: #ffffff;
}

.content p {
    line-height: 1.6;
    margin: 0;
}

.content button {
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid #333c41;
    background: transparent;
    color: #333c41;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.content button:hover {
    background-color: #ffffff;
    color: #2f4f5f;
}

.video {
    display: grid;
    align-items: center;
    justify-items: center;
}

.video img {
    width: 100%;
    max-width: 600px;
    border: 2px solid #ffffff;
}
    